ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.name {
  float: right;
  padding-right: 16px;
  font-size: xx-large;
  color: #ffffff;
}
li {
  float: left;
}
li a:hover:not(.active) {
  background-color: #111;
}

.active {
  font-size: 23px;
  background-color: rgb(49, 49, 199);
  display: block;
}

body {
  background-color: pink;
  background-repeat: no-repeat;
  background-size: auto;
}

#bodytext {
  padding: 20px;
  margin-top: 200px;
  color: rgb(18, 155, 209);
  text-align: center;
  font-style: oblique;

}
.quote{
  font-family: 'Satisfy', cursive;
  font-style: oblique;
  font-size: xx-large;

}
#footer{
  box-sizing: border-box;
  position: fixed;
  height: 64px;
  padding: 16px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #333
}
.image{
  width:42px;height:42px;
  text-align: center;  
  margin-left: 50%;
  
}
script{
  top: 95%;
  color: yellow;
}